@page
@model dragon.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Admin Page";
}
<link href="~/css/cardheaderstyle.css" rel="stylesheet" />
<div id="Head">
    <div class="row">
        <div class="col-12">
            <div class="card profile-header mb-2">
                <img class="card-img-top" src="images/headerImg.jpg" alt="HEADER" style=" max-height:200px;object-fit:cover;width:100%;max-width: 100%" onerror="this.src='/static/app-assets/images/backgrounds/discord.jpg'">
                <div class="position-relative">
                    <div class="profile-img-container d-flex align-items-center">
                        <div class="profile-img">
                                <img class="rounded" src="images/AdminIcon1.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="dashboard">
    <div class="row">
        <div class="col-md-12">
            <div class="col-lg-12 col-sm-12 col-12 text-center">
                <h2 class="font-large-1 features mt-3 mb-1">Admin Portal</h2>
            </div>
            <div class="row match-height">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <!-- First card -->
                    <div class="card text-center">
                        <div class="card-content">
                            <div class="card-body">
                                <a href="/Admin/MenuManager">
                                    <div class="avatar avatar-md bg-rgba-primary p-50 m-0 mb-1">
                                        <div class="avatar-content">
                                            <i class="feather icon-user-plus text-primary font-large-1"></i>
                                        </div>
                                    </div>
                                    <h2 class="text-bold-700">Menu Manager</h2>
                                </a>
                                <p class="mb-1 line-ellipsis">Manage store menu</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <!-- Second card -->
                    <div class="card text-center">
                        <div class="card-content">
                            <div class="card-body">
                                <a href="/Campaign/Index">
                                    <div class="avatar avatar-md bg-rgba-primary p-50 m-0 mb-1">
                                        <div class="avatar-content">
                                            <i class="feather icon-lock text-primary font-large-1"></i>
                                        </div>
                                    </div>
                                    <h2 class="text-bold-700">Advertisement Portal</h2>
                                </a>
                                <p class="mb-1 line-ellipsis">Manage current Campaigns</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                 </div>
                 </div>
                 </div>
                 </div>
</section>
