@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link href="~/css/trial.css" rel="stylesheet" />
<link href="~/css/contactpage.css" rel="stylesheet" />
 <div class="Slider">
    <figure>
        @foreach (var item in Model.Ad)
        {
            <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.AdImage)" alt="@item.Title" />
        }

    </figure>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <a class="btn btn-custom btn-lg mt-3" href="/Menu/Index">Order Now</a>
        </div>
    </div>
</div>


<h1>OUR SPECIALS</h1>
<div class="specials-container">
    <div class="row mb-4">
        @foreach (var dish in Model.Dish)
        {
            @if (dish.IsSpecial)
            {
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                    <div class="card h-70">
                        <div class="dish-image">
                            @if (dish.DishImage != null)
                            {
                                <img src="data:image/jpeg;base64,@Convert.ToBase64String(dish.DishImage)" class="card-img-top" alt="@dish.DishName">
                            }
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">@dish.DishName</h3>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn view-more-button" onclick="window.location.href='/Menu/Index'">View More</button>
                        </div>

                    </div>
                </div>
            }
        }
    </div>
</div>

<div class="map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d597.5444793872011!2d-2.8986852264643557!3d53.19672532170632!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487add38ff7c778f%3A0xa3b70c2e4912f8db!2sRiver%20Queen%20Chip%20Shop!5e0!3m2!1sen!2suk!4v1715636344971!5m2!1sen!2suk" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>


<div class="fixed-button">
    <a class="btn btn-primary btn-lg" href="/Cart/Index" role="button"><img src="~/images/Cart1.png" alt="Go to cart" /></a>
</div>

